<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>substitue page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Substitute Request Form</h1>
    <!--title is a wip-->
    <form action="/submitform" method="POST">
        <div class="dropsearchsect">
            <p>Name</p>
            <input type="text" id="originalTeacherName" name="originalTeacherName" onkeyup="searchTeachers()">
            <ul id="results" class="dropdown"></ul>
        </div>
        <div class="calendarsect">
            <div class="calendar-header">
              <button id="prev-month">‹</button>
              <div id="month-year"></div>
              <button id="next-month">›</button>
            </div>
            <div class="calendar-body">
                <div class="calendar-weekdays">
                    <!-- Weekday Names -->
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="calendar-dates">
                    <!-- Dates will be populated here -->
                </div>
            </div>
        </div>
        <div class="blocksect">
            <p>yay</p>
        </div>
        <div class="notessect">
            <p>Notes for Substitute</p>
            <textarea name="notes" id="notes"></textarea>
        </div>
        <br>
        <div class="buttondiv">
            <input type="submit" value="Submit">
        </div>
        
    </form>
<script src="script.js"></script>
</body>
</html>