<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>substitue page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Substitute Request Form</h1>
    <!--title is a wip-->
    <form action="/submitform" method="POST">
        <div class="columns">
            <div class="left">
                <div class="dropsearch">
                    <p>Name</p>
                    <input type="text" id="originalTeacherName" name="originalTeacherName" onkeyup="searchTeachers()">
                    <ul id="results" class="dropdown"></ul>
                </div>
            </div>
            <div class="right">
                <div class="notessect">
                    <p>Notes for Substitute</p>
                    <textarea name="notes" id="notes"></textarea>
                </div>
                <br>
            </div>
        </div>
    <br>
    <button type="submit">FIND A SUB</button>
    </form>
</body>
</html>