<!DOCTYPE html>
<html>
<head>
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello <%= userName %>,</h2>
  <p>Welcome to our service!</p>
  <p>Click <a href="<%= link %>" target="_blank">here</a> to get started.</p>
</body>
</html>
