h1 {
    padding: 16px;
    margin: auto;
    width: 50%;
}

button {
    margin-left: 50%;
    margin-right: 50%;
    padding: 16px;
    background-color: #8DBC66;
    color: #313131;
    border-radius: 4px;
    border: none;
}

form {
    width: 35%;
    margin: auto;
}

.dropsearchsect {
    background-color: #D4E2CA;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.notessect {
    background-color: #D4E2CA;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    display: none;
}

.blocksect {
    background-color: #D4E2CA;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    display: none;
}

#notes {
    width: 100%
}

.buttondiv {
    margin: auto;
}

 /* calendar css */
 
  .calendar {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calendar-header button {
    width: 35%;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  #month-year {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
  #prev-month {
    margin-left: 1px;
    margin-right: 1px;
  }
  #next-month {
    margin-left: 1px;
    margin-right: 1px;
  }
  .calendar-weekdays, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .calendar-weekdays div, .calendar-dates div {
    text-align: center;
    padding: 10px;
  }
  .calendar-weekdays {
    background-color: #8DBC66;
  }
  .calendar-weekdays div {
    font-weight: bold;
  }
  .calendar-dates div {
    border-bottom: 1px solid #eaeef3;
    cursor: pointer;
  }
  .calendar-dates div:hover {
    background-color: #f1f1f1;
  }
  .current-date {
    background-color: #47763B;
    color: #fff;
    border-radius: 100%;
  }

  /* for smaller scr */
  @media (max-width: 400px) {
    .calendar {
      width: 100%;
      margin: 0 10px;
    }
  }  